<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= SITE_TITLE %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Le styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<style>
  	body {
  		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  	}
	</style>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
</head>

  <body>

  	<div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
  				<% if !session[:id] %>
  					<a class="btn pull-right" href="/login">Sign in</a>
          <% end %>
  				<a class="brand" href="/"><%= SITE_TITLE %></a>
  				<div class="nav-collapse">
  					<% if session[:id] %>
              <ul class="nav pull-right">
                <li><p title="Logged in as <%= current_user.name %>"><%= h current_user.name %></p></li>
                <!-- <li class="divider-vertical"></li> -->
                <li><a href="/settings" title="Settings"><i class="icon-cogs <%= ' active' if request.fullpath.chomp('/') == '/settings' %>"></i></a></li>
              </ul>
  					<% end %>
  				</div><!--/.nav-collapse -->
  			</div>
  		</div>
  	</div>

  	<div class="container">
      <% if flash[:error] %>
        <div class="alert alert-error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= flash[:notice] %>
        </div>
      <% end %>

  		<%= yield %>

      <footer class="footer">
        <a href="/about">Learn more</a> about this project by <a href="http://brandonevans.ca">Brandon Evans</a>.
      </footer>
  	</div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/jquery.transform2d.js"></script>
    <script src="/js/jquery.color.js"></script>
    <script src="/js/plugins.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30914801-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
