<h2>
	<%= h @user.name %>'s Settings
	<a href='/logout' title="Sign Out" class="btn pull-right">Sign Out</a>
</h2>

<!-- Change name form -->
<form class="form-horizontal" method="post" action="/change-info" name="change">
	<fieldset>
		<legend>Info</legend>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="" value="<%= @user.name %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" name="email" placeholder="" value="<%= @user.email %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Time Zone</label>
			<div class="controls">
				<select class="input-xlarge" id="timezone" name="timezone" placeholder="" data-zone="<%= Time.zone.name %>">
					<option>American Samoa</option>
					<option>International Date Line West</option>
					<option>Midway Island</option>
					<option>Hawaii</option>
					<option>Alaska</option>
					<option>Pacific Time (US & Canada)</option>
					<option>Tijuana</option>
					<option>Arizona</option>
					<option>Chihuahua</option>
					<option>Mazatlan</option>
					<option>Mountain Time (US & Canada)</option>
					<option>Central America</option>
					<option>Central Time (US & Canada)</option>
					<option>Guadalajara</option>
					<option>Mexico City</option>
					<option>Monterrey</option>
					<option>Saskatchewan</option>
					<option>Bogota</option>
					<option>Eastern Time (US & Canada)</option>
					<option>Indiana (East)</option>
					<option>Lima</option>
					<option>Quito</option>
					<option>Caracas</option>
					<option>Atlantic Time (Canada)</option>
					<option>Georgetown</option>
					<option>La Paz</option>
					<option>Santiago</option>
					<option>Newfoundland</option>
					<option>Brasilia</option>
					<option>Buenos Aires</option>
					<option>Greenland</option>
					<option>Mid-Atlantic</option>
					<option>Azores</option>
					<option>Cape Verde Is.</option>
					<option>Casablanca</option>
					<option>Dublin</option>
					<option>Edinburgh</option>
					<option>Lisbon</option>
					<option>London</option>
					<option>Monrovia</option>
					<option>UTC</option>
					<option>Amsterdam</option>
					<option>Belgrade</option>
					<option>Berlin</option>
					<option>Bern</option>
					<option>Bratislava</option>
					<option>Brussels</option>
					<option>Budapest</option>
					<option>Copenhagen</option>
					<option>Ljubljana</option>
					<option>Madrid</option>
					<option>Paris</option>
					<option>Prague</option>
					<option>Rome</option>
					<option>Sarajevo</option>
					<option>Skopje</option>
					<option>Stockholm</option>
					<option>Vienna</option>
					<option>Warsaw</option>
					<option>West Central Africa</option>
					<option>Zagreb</option>
					<option>Athens</option>
					<option>Bucharest</option>
					<option>Cairo</option>
					<option>Harare</option>
					<option>Helsinki</option>
					<option>Istanbul</option>
					<option>Jerusalem</option>
					<option>Kyiv</option>
					<option>Pretoria</option>
					<option>Riga</option>
					<option>Sofia</option>
					<option>Tallinn</option>
					<option>Vilnius</option>
					<option>Baghdad</option>
					<option>Kuwait</option>
					<option>Minsk</option>
					<option>Nairobi</option>
					<option>Riyadh</option>
					<option>Tehran</option>
					<option>Abu Dhabi</option>
					<option>Baku</option>
					<option>Moscow</option>
					<option>Muscat</option>
					<option>St. Petersburg</option>
					<option>Tbilisi</option>
					<option>Volgograd</option>
					<option>Yerevan</option>
					<option>Kabul</option>
					<option>Islamabad</option>
					<option>Karachi</option>
					<option>Tashkent</option>
					<option>Chennai</option>
					<option>Kolkata</option>
					<option>Mumbai</option>
					<option>New Delhi</option>
					<option>Sri Jayawardenepura</option>
					<option>Kathmandu</option>
					<option>Almaty</option>
					<option>Astana</option>
					<option>Dhaka</option>
					<option>Ekaterinburg</option>
					<option>Rangoon</option>
					<option>Bangkok</option>
					<option>Hanoi</option>
					<option>Jakarta</option>
					<option>Novosibirsk</option>
					<option>Beijing</option>
					<option>Chongqing</option>
					<option>Hong Kong</option>
					<option>Krasnoyarsk</option>
					<option>Kuala Lumpur</option>
					<option>Perth</option>
					<option>Singapore</option>
					<option>Taipei</option>
					<option>Ulaan Bataar</option>
					<option>Urumqi</option>
					<option>Irkutsk</option>
					<option>Osaka</option>
					<option>Sapporo</option>
					<option>Seoul</option>
					<option>Tokyo</option>
					<option>Adelaide</option>
					<option>Darwin</option>
					<option>Brisbane</option>
					<option>Canberra</option>
					<option>Guam</option>
					<option>Hobart</option>
					<option>Melbourne</option>
					<option>Port Moresby</option>
					<option>Sydney</option>
					<option>Yakutsk</option>
					<option>New Caledonia</option>
					<option>Vladivostok</option>
					<option>Auckland</option>
					<option>Fiji</option>
					<option>Kamchatka</option>
					<option>Magadan</option>
					<option>Marshall Is.</option>
					<option>Solomon Is.</option>
					<option>Wellington</option>
					<option>Nuku'alofa</option>
					<option>Samoa</option>
					<option>Tokelau Is.</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email_permission">Do you want to receive email updates about Standards?</label>
			<div class="controls">
				<input type="checkbox" class="input-xlarge" id="email_permission" name="email_permission" placeholder="" value="true" <%= "checked" if @user.email_permission %>>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Update Info</button>
		</div>
	</fieldset>
</form>

<form class="form-horizontal" method="post" action="/change-password" name="change">
	<fieldset>
		<legend>Password</legend>
		<div class="control-group">
			<label class="control-label" for="password">Current Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="current_password" name="current_password" placeholder="">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">New Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="new_password" name="new_password" placeholder="">
				<span class='help-block'>Minimum 8 characters with a number, please.</span>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-warning">Change password</button>
		</div>
	</fieldset>
</form>