<h2>
	Settings
</h2>

<!-- Change name form -->
<form class="form-horizontal" method="post" action="/change-info" name="change">
	<fieldset>
		<legend>Info</legend>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="" value="<%= @user.name %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="email" name="email" placeholder="" value="<%= @user.email %>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="starting_weekday">Weeks start on</label>
			<div class="controls">
				<div class="btn-group" data-toggle="buttons-radio" data-toggle-name="starting_weekday" name="starting_weekday">
					<% (0..6).each do |wday| %>
						<button type="button" class="btn" value="<%= wday %>" data-toggle="button"><%= (Date.commercial(2012, 1, wday + 1) - 1).strftime('%A').chr %></button>
					<% end %>
				</div>
			</div>
			<input type="hidden" name="starting_weekday" value="<%= @user.starting_weekday %>">
		</div>
		<div class="control-group">
			<label class="control-label" for="email">Time Zone</label>
			<div class="controls">
				<select class="input-xlarge" id="timezone" name="timezone" placeholder="" data-zone="<%= Time.zone.name %>">
					<% TZInfo::Timezone.all.each do |zone| %>
						<option value="<%= zone.identifier %>"><%= zone %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="email_permission">Do you want to receive email updates about Standards?</label>
			<div class="controls">
				<input type="checkbox" class="input-xlarge" id="email_permission" name="email_permission" placeholder="" value="true" <%= "checked" if @user.email_permission %>>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Update Info</button>
		</div>
	</fieldset>
</form>

<form class="form-horizontal" method="post" action="/change-password" name="change">
	<fieldset>
		<legend>Password</legend>
		<div class="control-group">
			<label class="control-label" for="password">Current Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="current_password" name="current_password" placeholder="">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">New Password</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="new_password" name="new_password" placeholder="">
				<span class='help-block'>Minimum 8 characters with a number, please.</span>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-warning">Change password</button>
		</div>
	</fieldset>
</form>