<tr>
	<td class="title">
		<a href="/<%= @task.id %>" class="view"><%= @task.title %></a>
	</td>
	<% 7.times do |d| %>
		<% day = Date.today - Date.today.wday + d %>
		<% if d <= Date.today.wday %>
			<td><a href="/<%= @task.id %>/<%= day %>/complete" class="target"><img src="img/x.gif" class="check <%= 'complete' if @task.checks(:date => day).count > 0 %>" alt=""></a></td>
		<% end %>
	<% end %>
</tr>