<tr>
	<td class="title">
		<a href="/<%= @task.id %>" class="view"><%= @task.title %></a>
		<span class="pull-right metadata">Done <%= @task.checks.count %> <%= @task.checks.count == 1 ? "time" : "times" %>.</span>
	</td>
	<td><a href="/<%= @task.id %>/delete" class="delete" title=""><i class="icon-trash"></i></a></td>
</tr>