<tr>
	<td class="title">
		<% count = @task.checks.count %>
		<% total = (Date.today - @task.created_on + 1).ceil %>
		<%
			streak_count = 0;
			next_date = Date.today
			@task.checks.all(:order => :date.desc).each do |check|
				if (check.date == Date.today || check.date == next_date - 1)
					streak_count += 1;
				else
					break
				end
				next_date = check.date
			end
		%>
		<div class="ministat">
			<span class="ministreak"><%= streak_count %></span>
			<div class="minibar" data-count="<%= count %>" data-total="<%= total %>"></div>
		</div>
		<a href="/<%= @task.id %>" alt="<%= h @task.title %>" title="<%= h @task.purpose %>"><%= h @task.title.capitalize %></a>
	</td>
	<% todayAsDate = Time.zone.now.to_date %>
	<% 7.times do |d| %>
		<% if todayAsDate.wday == 0 %>
			<% d = d - 1 %>
		<% end %>
		<% day = todayAsDate - todayAsDate.wday + d %>
		<% if d <= todayAsDate.wday %>
			<td class="
				<%= ' hidden-phone' if d < todayAsDate.wday - 1 || d > todayAsDate.wday %>
				<%= ' today' if todayAsDate.wday == d %>"><a href="/<%= @task.id %>/<%= day %>/complete" class="target"><img src="img/x.gif" class="check <%= 'complete' if @task.checks(:date => day).count > 0 %>" alt=""></a></td>
		<% end %>
	<% end %>
</tr>