<tr>
	<td class="title">
		<a href="/<%= @task.id %>" alt="<%= @task.title %>" title="<%= @task.purpose %>" style="border-color: <%= Colorist::Color.from_hsv(360/(@taskCount+1)*(@rowNum+1), 1, 0.8).to_s %> !important;"><%= @task.title.capitalize %></a>
	</td>
	<% 7.times do |d| %>
		<% todayAsDate = Time.zone.now.to_date %>
		<% day = todayAsDate - todayAsDate.wday + d %>
		<% if d <= todayAsDate.wday %>
			<td class="
				<%= ' hidden-phone' if d < todayAsDate.wday - 1 || d > todayAsDate.wday + 1 %>
				<%= ' today' if todayAsDate.wday == d %>"><a href="/<%= @task.id %>/<%= day %>/complete" class="target"><img src="img/x.gif" class="check <%= 'complete' if @task.checks(:date => day).count > 0 %>" alt=""></a></td>
		<% end %>
	<% end %>
</tr>