<h2><%= @task.title %></h2>
<% count = @task.checks.count %>
<% if count > 0 %>
	<p>You've done this <%= count %> <%= count == 1 ? "time" : "times" %> since <%= @task.date_created.strftime("%B %e, %Y") %>:</p>
<% else %>
	<p>You haven't done this since you started on <%= @task.date_created.strftime("%B %e, %Y") %>.</p>
<% end %>
<ul id="checks">
	<% @task.checks(:order => :date.asc).each do |check| %>
		<li><%= check.date.strftime("%B %e, %Y") %></li>
	<% end %>
</ul><!-- /checks -->

<p>You're currently sitting at a <%= (count / (Date.today - @task.date_created + 1)).ceil %>% completion rate.</p>
<p><a href="/" title="">Back</a>&nbsp;<a href="/<%= @task.id %>/delete" class="delete">Delete this task</a></p>