<tr>
	<td class="title">
		<%= @task.title %>
	</td>
	<% 7.times do |d| %>
		<% day = Date.today - Date.today.wday + d %>
		<% if d <= Date.today.wday %>
			<td class="
				<%= ' hidden-phone' if d < Date.today.wday - 1 || d > Date.today.wday + 1 %>
				<%= ' today' if Date.today.wday == d %>"><a href="/<%= @task.id %>/<%= day %>/complete" class="target"><img src="img/x.gif" class="check <%= 'complete' if @task.checks(:date => day).count > 0 %>" alt=""></a></td>
		<% end %>
	<% end %>
</tr>