<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= SITE_TITLE %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="Standards helps you build better habits.">
	<meta name="author" content="Brandon Evans">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<link href="/css/styles.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Icons -->
  <link rel="shortcut icon" href="/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">

  <!-- iOS Startup Images -->
  <!-- iPhone -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 320px)"
        href="apple-touch-startup-image-320x460.png">
  <!-- iPhone (Retina) -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)"
        href="apple-touch-startup-image-640x920.png">
  <!-- iPad (portrait) -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 768px)
           and (orientation: portrait)"
        href="apple-touch-startup-image-768x1004.png">
  <!-- iPad (landscape) -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 768px)
           and (orientation: landscape)"
        href="apple-touch-startup-image-748x1024.png">
  <!-- iPad (Retina, portrait) -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 768px)
           and (orientation: portrait)
           and (-webkit-device-pixel-ratio: 2)"
        href="apple-touch-startup-image-1536x2008.png">
  <!-- iPad (Retina, landscape) -->
  <link rel="apple-touch-startup-image"
        media="(device-width: 768px)
           and (orientation: landscape)
           and (-webkit-device-pixel-ratio: 2)"
        href="apple-touch-startup-image-1496x2048.png">
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn pull-right" href="/login">Sign in</a>
          <a class="brand" href="/"><%= SITE_TITLE %></a>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:error] %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">&times;</a>
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div> <!-- /container -->

    <!-- Javascript -->
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/scripts.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30914801-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      new FastClick(document.body);
    </script>
</body>
</html>